<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="com.rokonoid.apps.user.domain.User" />
		<mapping class="com.rokonoid.apps.user.domain.Addresses" />
		<mapping class="com.rokonoid.apps.user.domain.Permission" />
		<mapping class="com.rokonoid.apps.user.domain.States" />
		<mapping class="com.rokonoid.apps.user.domain.Role" />
		<mapping class="com.rokonoid.apps.user.domain.UserLevel" />
	</session-factory>
</hibernate-configuration>